

 .scroll-wrapper {
    overflow-x: auto;
    height: 250px;

    .scroll-zoom-wrapper {
        display: inline-flex;
        align-items: flex-start;
        padding: 0 var(--app-gutter);
    }

    .scroll-item {
        display: inline-block;
        min-width: 250px;
        max-width: 250px;
        min-height: 200px;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        text-align: center;
        font-size: 24px;;
        &:not(:last-child) {
            margin-right: 1rem;
        }

    }
}
